html, body {
  min-height: 100%;
}

body {
  background-image: linear-gradient(to bottom, rgb(166, 193, 255), #d0ffe7, rgb(22, 210, 54));
  margin: 0 10%;
  font-size: 24px;
  overflow-x: hidden;
}

p {
  text-align: justify;
}

#logomarca {
  display: block;
  margin: 0 auto;
}

.curiosidade {
  border: 1px solid #f89e09;
  padding: 1em;
  border-radius: 0.5em;
  background: url(imgs/favo-de-mel.png);
}

.icone-curiosidade {
  margin-right: 1em;
}

.casta-de-abelha {
  border-radius: 50%;
  border: 5px double gold;
}

#casta-operaria, #casta-rainha {
  float: left;
  margin-right: 1em;
}

#casta-zangao {
  float: right;
  margin-left: 1em;
}

.voltar {
  text-align: right;
}
